&wifi {
	status = "okay";
};

&uart0{
	current-speed = <115200>;
};

&i2c0 {
    status = "okay";
    compatible = "espressif,esp32-i2c";
    clock-frequency = <100000>;

    ina219_41: ina219@40 {
        status = "okay";
        compatible = "ti,ina219";
        reg = <0x41>;
        brng = <0>;
        pg = <0>;
        sadc = <0>;
        badc = <0>;
        shunt-milliohm = <100>;
        lsb-microamp = <10>;
    };

    ina219_44: ina219@44 {
        status = "okay";
        compatible = "ti,ina219";
        reg = <0x44>;
        brng = <0>;
        pg = <0>;
        sadc = <0>;
        badc = <0>;
        shunt-milliohm = <100>;
        lsb-microamp = <10>;
    };

    ina219_45: ina219@45 {
        status = "okay";
        compatible = "ti,ina219";
        reg = <0x45>;
        brng = <0>;
        pg = <0>;
        sadc = <0>;
        badc = <0>;
        shunt-milliohm = <100>;
        lsb-microamp = <10>;
    };
};
