[Unit]
Description=Set torizon password to corekinect
After=systemd-user-sessions.service
ConditionPathExists=/etc/corekinect-password-pending

[Service]
Type=oneshot
ExecStart=/usr/lib/corekinect/set-password.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
