# Environment
ENVIRONMENT="development"

# Where we store templates, etc
ASSETS_FOLDER="assets"

# Permanently deletes records
DELETE_ALL_KEY=84262c29-3a8c-43e3-9d8e-51b65760c7e8

# Log level of the stdout logs. 4 = DEBUG, 1 = ERROR
LOG_LEVEL=4

# Path where the service will store its logs
LOG_PATH=logs

# Port where the proxy serves
SERVER_PORT=9001

# Path where the service will keep/read its filesystem database
DB_STORAGE_PATH=db
DB_STORAGE_LIMIT_GB=64

# Prisma client ENV var (via PgBouncer)
DATABASE_URL=postgresql://concord:concord@localhost:6432/concord

# Direct connection to PostgreSQL (for migrations)
DIRECT_DATABASE_URL=postgresql://concord:concord@localhost:5432/concord

# Object storage
STORAGE_URL="http://localhost:8675"
STORAGE_ACCESS_KEY="concord"
STORAGE_SECRET_ACCESS_KEY="concordstorage!"
STORAGE_BUCKET_NAME="concord"

# InfluxDB
INFLUXDB_URL="http://localhost:8086"
INFLUXDB_TOKEN="concord-influxdb-dev-token"
INFLUXDB_ORG="concord"
INFLUXDB_BUCKET_TELEMETRY="telemetry_raw"
INFLUXDB_BUCKET_METRICS="metrics"

# Where we expect developers to upload their release images to
SUPPORTED_REGISTRIES=ccr01.ad.corekinect.com,containers.ad.corekinect.com

# Auth
JWT_SECRET_KEY=concord-dev-jwt-secret-change-in-production
AUTH_SERVER_URL=https://auth.office.corekinect.cloud:2013
AUTH_SERVER_API_KEY=

# Manufacturing
COREOPS_SERVER_URL="https://coreops.office.corekinect.cloud:2013"
