/dts-v1/;
/plugin/;

/*
 * Reserved I2C addresses on i2c4 (Verdin I2C_1):
 * 0x21 - GPIO Expander (PCAL6416)
 * 0x2C - LVDS Bridge (SN65DSI84)
 * 0x40 - INA219 Current Sensor (hwmon)
 * 0x48 - HDMI Bridge (LT8912)
 * 0x49 - ADC
 * 0x4A - Touch Controller (Atmel MaxTouch)
 * 0x4F - Temperature Sensor (TMP75C)
 * 0x50 - Display Adapter EEPROM
 * 0x57 - Carrier Board EEPROM
 *
 * From i2cdetect, these addresses show as in use (UU):
 * 0x40, 0x49, 0x4F, 0x50, 0x57
 */

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>

/ {
	compatible = "toradex,verdin-imx8mm";
};

// Enable &i2c2
&i2c4 {   
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
	
	ina219@40 {
		compatible = "ti,ina219";
		reg = <0x40>;
		status = "okay";
		shunt-resistor = <100000>;
	};

	ina219@41 {
		compatible = "ti,ina219";
		reg = <0x41>;
		status = "okay";
		shunt-resistor = <100000>;
	};

	accel@19 {
		compatible = "st,lis2de12";
		reg = <0x19>;
		status = "okay";
		vdd-supply = <&reg_vdd_3v3>;
		vddio-supply = <&reg_vdd_3v3>;
	};
};