// SPDX-License-Identifier: GPL-2.0-only
/dts-v1/;
/plugin/;

/ {
	compatible = "toradex,verdin-imx8mm";
};

&i2c2 {
	pinctrl-names = "default";
	pinctrl-0 = <&i2c2altgrp>;
	status = "okay";
};

&mipi_dsi {
	status = "disabled";
};
