[submodule "libs/zephyr/dns_sec"]
	path = libs/zephyr/dns_sec
	url = git@bitbucket.org:corekinect/dns_sec.git
[submodule "libs/zephyr/iface"]
	path = libs/zephyr/iface
	url = git@bitbucket.org:corekinect/iface.git
[submodule "libs/zephyr/cipher"]
	path = libs/zephyr/cipher
	url = git@bitbucket.org:corekinect/cipher.git
[submodule "libs/zephyr/alt_drv"]
	path = libs/zephyr/alt_drv
	url = git@bitbucket.org:corekinect/alt_drv.git
[submodule "libs/zephyr/mcp4017_drv"]
	path = libs/zephyr/mcp4017_drv
	url = git@bitbucket.org:corekinect/mcp4017_drv.git
[submodule "libs/zephyr/sn74lv051a_drv"]
	path = libs/zephyr/sn74lv051a_drv
	url = git@bitbucket.org:corekinect/sn74lv051a_drv.git
[submodule "libs/zephyr/m24c08_drv"]
	path = libs/zephyr/m24c08_drv
	url = git@bitbucket.org:corekinect/m24c08_drv.git
[submodule "libs/zephyr/accel_drv"]
	path = libs/zephyr/accel_drv
	url = git@bitbucket.org:corekinect/accel_drv.git
[submodule "libs/zephyr/se050_drv"]
	path = libs/zephyr/se050_drv
	url = git@bitbucket.org:corekinect/se050_drv.git
[submodule "libs/zephyr/dut_gpio_config_drv"]
	path = libs/zephyr/dut_gpio_config_drv
	url = git@bitbucket.org:corekinect/dut_gpio_config_drv.git
[submodule "libs/python/corekinect/iface"]
	path = libs/python/corekinect/iface
	url = git@bitbucket.org:corekinect/iface-posix.git
[submodule "libs/python/corekinect/cipher"]
	path = libs/python/corekinect/cipher
	url = git@bitbucket.org:corekinect/cipher-posix.git
[submodule "libs/zephyr/mlx90632_drv"]
	path = libs/zephyr/mlx90632_drv
	url = git@bitbucket.org:corekinect/mlx90632_drv.git
[submodule "libs/zephyr/nand_flash_drv"]
	path = libs/zephyr/nand_flash_drv
	url = git@bitbucket.org:corekinect/nand_flash_drv.git
[submodule "libs/zephyr/max32644_drv"]
	path = libs/zephyr/max32644_drv
	url = git@bitbucket.org:corekinect/max32644_drv.git
[submodule "libs/zephyr/pah8151_drv"]
	path = libs/zephyr/pah8151_drv
	url = git@bitbucket.org:corekinect/pah8151_drv.git
[submodule "libs/zephyr/ck_boards"]
	path = libs/zephyr/ck_boards
	url = git@bitbucket.org:corekinect/ck_boards.git
[submodule "libs/zephyr/paf9615_drv"]
	path = libs/zephyr/paf9615_drv
	url = git@bitbucket.org:corekinect/paf9615_drv.git
