config CK_ESP32_WIFI_LIB
    bool "DNSEC Library"
    select WIFI
    select WIFI_ESP32
    select NET_IPV4
    select NET_DHCPV4
    select NET_L2_WIFI_MGMT
    select NET_L2_ETHERNET
    select ESP32_WIFI_STA_AUTO_DHCPV4
    select NETWORKING
    select NET_CONFIG_SETTINGS
    select NET_MGMT
    select NET_MGMT_EVENT
    select NET_MGMT_EVENT_INFO
    
    select DNS_RESOLVER
    select NET_SOCKETS
    select NET_SOCKETS_POSIX_NAMES
