# Log level of the stdout logs. 4 = DEBUG, 1 = ERROR
LOG_LEVEL=4

# Path where the service will store its logs
LOG_PATH="/var/log/operator"

# Unique identifier for the logger. From proxy's "register" route
CLUSTER_UUID=""

# Proxy server 
PROXY_SERVER_URL="http://localhost:6969"

# Port where the operator serves to the proxy
GRPC_SERVER_PORT=50051

# Port where we want to create the docker registry in this host
LOCAL_REGISTRY_PORT=5000

# Operator's cluster kubeconfig
KUBECONFIG_PATH="/root/.kube/config"

# A list of nodes in this cluster
NODES_HOSTNAMES=control-plane,slot-1,slot-2,slot-3,slot-4,slot-5,slot-6