ENVIRONMENT="development"

# 4 = DEBUG, 1 = ERROR
LOG_LEVEL=4
LOG_PATH=logs

# Tests Enable Flags
TEST_ENABLE_ELECTRICAL=true
TEST_ENABLE_APP_POST=false
TEST_ENABLE_COMM_POST=false

# Metadata
PRODUCT="sigma5"
FIRMWARE_BUCKET_FILE_PATH="0.1.4"

# Concord API
CONCORD_API_URL="http://localhost:9001"

# Storage (MinIO/S3)
STORAGE_URL="http://localhost:8675"
STORAGE_ACCESS_KEY="concord"
STORAGE_SECRET_ACCESS_KEY="concordstorage!"

# Logs
LOKI_URL="afds"

# MTIB Info
MTIB_HOST="verdin-imx8mm-0055xxx"
MTIB_PORT=50053