# Log level of the stdout logs. 4 = DEBUG, 1 = ERROR
LOG_LEVEL=4

# Path where the service will store its logs
LOG_PATH="/var/log/proxy"

# Path where the service will keep/read its filesystem database
DB_PATH="/var/db/proxy"

# Port where the proxy serves
SERVER_PORT=6969