# Permanently deletes records
DELETE_ALL_KEY=84262c29-3a8c-43e3-9d8e-51b65760c7e8

# Log level of the stdout logs. 4 = DEBUG, 1 = ERROR
LOG_LEVEL=4

# Path where the service will store its logs
LOG_PATH=logs

# Port where the proxy serves
SERVER_PORT=7600

# Path where the service will keep/read its filesystem database
DB_STORAGE_PATH=db

# Depends on the server/env
DB_STORAGE_LIMIT_GB=64

# Where we expect developers to upload their release images to
SUPPORTED_REGISTRIES=ccr01.ad.corekinect.com,containers.ad.corekinect.com

# Authentication
AUTH_ENABLED=true
AUTH_SERVER_URL=""
AUTH_SERVER_API_KEY=""
AUTH_SERVER_CREDENTIALS_USER=""
AUTH_SERVER_CREDENTIALS_PASS=""

# Manufacturing
MANU_SERVER_URL=""

# Database
DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:54322/postgres

# Test steps config
TEST_STEPS_CONFIG_PATH=config.json