&uart0 {
    status = "okay";
    current-speed = <115200>;
};

/ {
    aliases {
        vsm-enable = &vsm_enable;
        i2c-gpio = &i2c_gpio;
    };

    i2c_gpio: i2c-gpio {
        compatible = "gpio-i2c";
        status = "okay";
        clock-frequency = <100000>;
        #address-cells = <1>;
        #size-cells = <0>;
        scl-gpios = <&gpio1 3 (GPIO_OPEN_DRAIN | GPIO_PULL_UP)>;
        sda-gpios = <&gpio0 12 (GPIO_OPEN_DRAIN | GPIO_PULL_UP)>;

        paf9615: paf9615@34 {
            status = "okay";
            compatible = "pixart,paf9615";
            reg = <0x34>;
            irq-gpios = <&gpio1 5 GPIO_ACTIVE_LOW>;
            int-pin = <1>;
        };

        pah8151: pah8151@15 {
            status = "okay";
            compatible = "pixart,pah8151";
            reg = <0x15>;
            irq-gpios = <&gpio0 24 GPIO_ACTIVE_HIGH>;
            int1-gpios = <&gpio0 24 GPIO_ACTIVE_HIGH>;
            int2-gpios = <&gpio1 0 GPIO_ACTIVE_HIGH>;
            int-pin = <1>;
            led-current-ir = <255>;
            led-current-green = <255>;
        };

        lsm6dso0: lsm6dso@6a {
            status = "okay";
            compatible = "ck,lsm6dso";
            reg = <0x6a>;
            int-pin = <2>;
            irq-gpios = <&gpio1 6 GPIO_ACTIVE_HIGH>;
            accel-pm = <1>;      // 1 # LSM6DSO_DT_LP_NORMAL_MODE
            accel-range = <3>;   // 3 # LSM6DSO_DT_FS_8G
            accel-odr = <3>;     // 3 # LSM6DSO_DT_ODR_52HZ
            gyro-pm = <1>;       // 1 # LSM6DSO_DT_GY_NORMAL_MODE
            gyro-range = <0>;    // 2 # LSM6DSO_DT_GY_FS_2000DPS
            gyro-odr = <2>;      // 3 # LSM6DSO_DT_GY_ODR_26HZ
            drdy-pulsed;
        };

        mlx90614: mlx90614@5a {
            status = "okay";
            compatible = "melexis,mlx90614";
            reg = <0x5a>;
            emissivity = <65535>;  /* Default to 1.0 (65535/65535) */
        };
    };
};
