# Set to true for a basic server used for testing
MOCK_SERVER=true

# gRPC info
RUNNER_GRPC_SERVER_PORT=50051

# Cipher
CIPHER_SERIAL_PORT="/dev/ttyS5"
CIPHER_SERIAL_BAUD=115200
CIPHER_SERVER_RESET_ENABLED=true
CIPHER_SERVER_RESET_GPIO=9

# Target Info
PLATFORM="sigma5"
HW_VERSION="B0"

# Features
FEATURE_DUT_POWER_ENABLED=true
FEATURE_MOTION_ENABLED=false
FEATURE_SENSOR_ACCEL_ENABLED=true
FEATURE_SENSOR_ALT_ENABLED=true
FEATURE_FW_FLASH_ENABLED=true
FEATURE_JOULESCOPE=false

# JLink
JLINK_USB_BUS_ENABLE_GPIO=17
JLINK_HOST_NRF9160_USB_BUS='/dev/bus/usb/002'
JLINK_HOST_NRF52840_USB_BUS='/dev/bus/usb/003'
JLINK_HOST_NRF5340_USB_BUS=''