DEBUG_LEVEL=4
MTIB_SERIAL_PORT="/dev/ttyS5"
MTIB_SERIAL_BAUD=115200
GRPC_SERVER_PORT=50051
FW_FILE_STORAGE_DIR="/tmp/fw_files"
MCU_9160_USB_BUS='/dev/bus/usb/002'
MCU_52840_USB_BUS='/dev/bus/usb/003'
SERVER_RESET_ENABLED=true
SERVER_RESET_GPIO=9