#ifndef {{ .ProtoFileName | replaceHyphens | ToUpper }}_CIPHER_H
#define {{ .ProtoFileName | replaceHyphens | ToUpper }}_CIPHER_H

#include <corekinect/cipher/cipher.h>
#include "{{ .ProtoFileName }}.pb.h"

// Service info registration function
cipher_service_info_t *get_{{ .ServiceNameLowerCase }}service_info(void);

{{- range .RPCs }}

// Server side handler
{{ .ReturnsType }} {{ .ServiceName }}_{{ .Name }}Handler({{ .RequestType }} request);

// Client side call
{{ .ReturnsType }} {{ .ServiceName }}_{{ .Name }}Rpc(cipher_unary_rpc_user_info_t *info, {{ .RequestType }} request);
{{- end }}

#endif // {{ .ProtoFileName | ToUpper }}_CIPHER_H
