#include <zephyr/dt-bindings/adc/adc.h>

&usart3 {
    current-speed = <0xe1000>;
};

&usart2 {
    dmas = <&dma1 6 4 (STM32_DMA_PERIPH_TX | STM32_DMA_MODE_NORMAL | STM32_DMA_PRIORITY_HIGH) 0x03>,
           <&dma1 7 6 (STM32_DMA_PERIPH_RX | STM32_DMA_MODE_NORMAL | STM32_DMA_PRIORITY_VERY_HIGH) 0x03>;
    dma-names = "tx", "rx";

    status = "okay";
    pinctrl-0 = <&usart2_tx_pa2 &usart2_rx_pa3>;
    pinctrl-names = "default";
    current-speed = <115200>;
    parity = "none";
    stop-bits = "1";
    data-bits = <8>;
};

&dma1 {
    status = "okay";
};

&dma2 {
    status = "okay";
};

&usart1 {
	dmas = <&dma2 7 4 (STM32_DMA_PERIPH_TX | STM32_DMA_MODE_NORMAL | STM32_DMA_PRIORITY_HIGH) 0x03>,
           <&dma2 5 4 (STM32_DMA_PERIPH_RX | STM32_DMA_MODE_NORMAL | STM32_DMA_PRIORITY_VERY_HIGH) 0x03>;
    dma-names = "tx", "rx";

	status = "okay";
	pinctrl-0 = <&usart1_tx_pa9 &usart1_rx_pa10>;
	pinctrl-names = "default";
	current-speed = <115200>;
	parity = "none";
	stop-bits = "1";
	data-bits = <8>;
};

&usart6 {
	current-speed = <921600>;
	status = "okay";
	pinctrl-0 = <&usart6_tx_pc6 &usart6_rx_pc7>;
	pinctrl-names = "default";
	parity = "none";
	stop-bits = "1";
	data-bits = <8>;
};

&clk_lse {
	status = "okay";
};

&clk_hsi {
	status = "okay";
};

&clk_hse {
	clock-frequency = <DT_FREQ_M(25)>; /* STLink 8MHz clock */
	status = "disabled";
};


&pll {
	div-m = <8>; // was 12 
	mul-n = <96>;
	div-p = <2>;
	div-q = <2>;
	clocks = <&clk_hsi>;
	status = "okay";
};


&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(48)>;  /*HCLK(MHz) = SYSCLK / AHB prescaler */
	ahb-prescaler = <2>;
	apb1-prescaler = <1>;
	apb2-prescaler = <1>;
};

&pinctrl {
        adc1_eeprom_pc5: adc1-pc5 {
            pinmux = <STM32_PINMUX('C', 5, ANALOG)>;
        };

		adc1_mux_com_pa0: adc1-pa0 {
			pinmux = <STM32_PINMUX('A', 0, ANALOG)>;
		};

		i2c1_scl_pb6: i2c1_scl_pb6 {
			pinmux = < STM32_PINMUX('B', 6, AF4) >;
			bias-pull-up;
			drive-open-drain;
		};
		i2c1_sda_pb7: i2c1_sda_pb7 {
			pinmux = < STM32_PINMUX('B', 7, AF4) >;
			bias-pull-up;
			drive-open-drain;
		};
		i2c2_scl_pb10: i2c2_scl_pb10 {
			pinmux = < STM32_PINMUX('B', 10, AF4) >;
			drive-open-drain;
		};
		i2c2_sda_pb19: i2c2_sda_pb19 {
			pinmux = < STM32_PINMUX('B', 9, AF9) >;
			drive-open-drain;
		};
		usart2_rx_pa3: usart2_rx_pa3 {
			pinmux = <STM32_PINMUX('A', 3, AF7)>;
		};
		usart2_tx_pa2: usart2_tx_pa2 {
			pinmux = <STM32_PINMUX('A', 2, AF7)>;
		};
		usart1_tx_pa9: usart1_tx_pa9 {
			pinmux = <STM32_PINMUX('A', 9, AF7)>;
		};
		usart1_rx_pa10: usart1_rx_pa10 {
			bias-pull-up;
			pinmux = <STM32_PINMUX('A', 10, AF7)>;
		};
		usart6_tx_pc6: usart6_tx_pc6 {
			pinmux = <STM32_PINMUX('C', 6, AF8)>;
		};
		usart6_rx_pc7: usart6_rx_pc7 {
			pinmux = <STM32_PINMUX('C', 7, AF8)>;
		};
		spi2_sck_pb13: spi2_sck_pb13 {
			pinmux = <STM32_PINMUX('B', 13, AF5)>;
		};
		spi2_miso_pb14: spi2_miso_pb14 {
			pinmux = <STM32_PINMUX('B', 14, AF5)>;
		};
		spi2_mosi_pb15: spi2_mosi_pb15 {
			pinmux = <STM32_PINMUX('B', 15, AF5)>;
		};

    };

&spi2 {
	status = "okay";
	pinctrl-0 = <&spi2_sck_pb13 &spi2_miso_pb14 &spi2_mosi_pb15>;
	pinctrl-names = "default";
	// cs-gpios = <&gpiob 12 GPIO_ACTIVE_LOW>;
	// max-frequency = <10000000>;
};

&i2c2 {
	status = "okay";
	pinctrl-0 = <&i2c2_scl_pb10 &i2c2_sda_pb19>;
	pinctrl-names = "default";
};

&i2c1 {
	status = "okay";
	pinctrl-0 = <&i2c1_scl_pb6 &i2c1_sda_pb7>;
	pinctrl-names = "default";

    bmp388_i2c: bmp388_i2c@0 {
        compatible = "bosch,bmp388-i2c";
        reg = <0>;
        int-gpios = <&gpiob 2 GPIO_ACTIVE_HIGH>; 
    };

	lis2de12_i2c: lis2de12_i2c@0 {
        compatible = "st,lis2de12-i2c";
        reg = <0>;
        int-gpios = <&gpiob 0 GPIO_ACTIVE_HIGH>,
                    <&gpiob 1 GPIO_ACTIVE_HIGH>;
    };

    ina219_i2c: ina219_i2c@40 {
		status = "okay";
		compatible = "ti,ina219";
		reg = <0x40>;
		brng = <0>;
		pg = <0>;
		sadc = <13>;
		badc = <13>;
		shunt-milliohm = <100>;
		lsb-microamp = <10>;
	};

	eeprom_0: eeprom_0@50 {
        compatible = "st,eepromm24c08"; 
        reg = <0x50>; // EEPROM's I2C address
        size = <1024>; // EEPROM size in bytes 
    };

	digital_pot_i2c: digital_pot_i2c@2F {
		compatible = "microchip,mcp4017-i2c";
		reg = <0x2F>; // mcp4017 device Address
		feedback-gpios = <&gpioe 0 GPIO_ACTIVE_LOW>;
	};

};

&adc1 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";
	pinctrl-0 = <&adc1_eeprom_pc5 &adc1_mux_com_pa0>;
	pinctrl-names = "default";

	channel@f {
		reg = <15>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
		zephyr,vref-mv = <3300>; // 3.3V
	};

	channel@0 {
		reg = <0>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
		zephyr,vref-mv = <3300>; // 3.3V
	};
};

&rng {
	status = "okay";
};


/{
	leds {
		compatible = "gpio-leds";
		grr: led_0 {
			gpios = < &gpiob 3 0x0 >; // EEPROM WC
			label = "User LD1";
		};

		mux_gpio: mux_gpio {
			compatible="ti,sn74lv4051ad";
			select-gpios = <&gpioc 2 GPIO_ACTIVE_HIGH>,  // MUX.SELECT.A
						   <&gpioc 1 GPIO_ACTIVE_HIGH>,  // MUX.SELECT.B
						   <&gpioc 0 GPIO_ACTIVE_HIGH>,  // MUX.SELECT.C
						   <&gpioc 3 GPIO_ACTIVE_LOW>;  // MUX.ENABLE
		};

		dut_gpio: dut_gpio {
			compatible="ti,sn74lv4051ad";
			select-gpios = <&gpioa 12 GPIO_ACTIVE_LOW>, // DUT.GPIO.0
						   <&gpioa 15 GPIO_ACTIVE_HIGH>, // DUT.GPIO.1
						   <&gpiod 2 GPIO_ACTIVE_HIGH>,  // DUT.GPIO.2
						   <&gpiob 4 GPIO_ACTIVE_HIGH>,  // DUT.GPIO.3
						   <&gpiob 5 GPIO_ACTIVE_HIGH>,  // DUT.GPIO.4
						   <&gpiob 8 GPIO_ACTIVE_HIGH>,  // DUT.GPIO.5
						   <&gpioc 13 GPIO_ACTIVE_HIGH>; // DUT.GPIO.6
		};

		comm_en: comm_en {
			gpios = <&gpioa 5 GPIO_ACTIVE_HIGH>;
		};

		power_en:power_en {
			gpios = <&gpioa 6 GPIO_ACTIVE_HIGH>;
		};

		charger_en: charger_en {
			gpios = <&gpioa 7 GPIO_ACTIVE_HIGH>;
		};

	};

		zephyr,user {
		/* adjust channel number according to pinmux in board.dts
			adc1 - channel 15 => PC5 => adc feedback pin for digital pot
			adc1 - channel 5  => PA5 => adc com pin for mux
		 */
		io-channels = <&adc1 15 &adc1 0>;
	};

	chosen {
		zephyr,console = &usart6;
		zephyr,shell-uart = &usart6;
	};

	aliases {
        iface-uart = &usart2;
		nrf9160-uart = &usart1;
		nrf52840-uart = &usart6;
    };

};