# Log level of the stdout logs. 4 = DEBUG, 1 = ERROR
LOG_LEVEL=4
LOG_PATH=logs

# MTIB server
MTIB_SERVER_HOST="verdin-imx8mm-15005679"
MTIB_SERVER_PORT=50053

# Proxy server
PROXY_SERVER_URL="http://10.4.45.3:9001"

# Assets directory
ASSETS_DIR="assets"
MODEM_FW_FILE="0.0.91/mfw_nrf9160_1.3.6.zip"
COMMS_COPROC_FW_FILE="0.0.91/comm_coproc_mfg/alpha_comm_eng_91.hex"
APP_PROC_FW_FILE="0.0.91/app/alpha_app_eng_91.hex"