# Log level of the stdout logs. 4 = DEBUG, 1 = ERROR
LOG_LEVEL=4

# Path where the service will store its logs
LOG_PATH=logs

# Where our operator is at
OPERATOR_URL="localhost:50052"

# Proxy server
PROXY_SERVER_URL="http://localhost:9001"

# Test Info
ELECTRICAL_TEST_PORT=50060
ELECTRICAL_TEST_UUID="fce7ab74-b225-433d-b27d-629d346548d9"
POST_FW_FLASH_TEST_PORT=50061
POST_FW_FLASH_TEST_UUID="81e846df-28f3-467a-96fd-655b45bbd8a5"
POST_TEST_PORT=50062
POST_TEST_UUID="ac2aad43-1737-46de-af93-dfc49ede99da"
PROD_FW_FLASH_TEST_PORT=50063
PROD_FW_FLASH_TEST_UUID="78c710aa-f932-4934-898c-65797f376718"