LOG_LEVEL=4
LOG_PATH="/var/log/controller"
GRPC_SERVER_PORT=50051
PROXY_SERVER_URL="http://localhost:6969"
KUBECONFIG_PATH="/root/.kube/config"
DEPLOYMENT_PATH="/workspaces/concord/apps/fixtures/mtib_sigma5/runner/deploy/deployment.yaml"