# Hardware configuration
HARDWARE_VERSION="REV1.1"

# Log level of the stdout logs. 4 = DEBUG, 1 = ERROR
LOG_LEVEL=4

# Path where the service will store its logs
LOG_PATH=logs

# Port that this app uses to serve its services
SERVER_PORT=50053

# Path to the assets folder
ASSETS_PATH=assets

# Enable dashboard support
METRICS_ENABLED=true
METRICS_BROKER_URL="mqtt://kubecop.ad.corekinect.com:1883"

# Local Tetsting
SERVER_HOST="localhost"