&uart0 {
    status = "okay";
    current-speed = <115200>;
};

/* Disable SPI0 which conflicts with I2C0 on nRF52840 */
&spi0 {
    status = "disabled";
};

/* Main I2C bus for PAH8151 and LSM6DSO - P0.03 (SDA), P0.04 (SCL) */
&i2c0 {
    compatible = "nordic,nrf-twi";
    status = "okay";
    pinctrl-0 = <&i2c0_default>;
    pinctrl-1 = <&i2c0_sleep>;
    pinctrl-names = "default", "sleep";
    clock-frequency = <100000>;

    pah8151: pah8151@15 {
        status = "okay";
        compatible = "pixart,pah8151";
        reg = <0x15>;
        irq-gpios = <&gpio0 28 GPIO_ACTIVE_HIGH>;
        int1-gpios = <&gpio0 28 GPIO_ACTIVE_HIGH>;
        int2-gpios = <&gpio0 29 GPIO_ACTIVE_HIGH>;
        int-pin = <1>;
        led-current-ir = <255>;
        led-current-green = <255>;
    };

    lsm6dso0: lsm6dso@6a {
        status = "okay";
        compatible = "ck,lsm6dso";
        reg = <0x6a>;
        int-pin = <2>;
        irq-gpios = <&gpio0 29 GPIO_ACTIVE_HIGH>;
        accel-pm = <1>;
        accel-range = <3>;
        accel-odr = <3>;
        gyro-pm = <1>;
        gyro-range = <0>;
        gyro-odr = <2>;
        drdy-pulsed;
    };
};

&pinctrl {
    i2c0_default: i2c0_default {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 3)>,
                    <NRF_PSEL(TWIM_SCL, 0, 4)>;
        };
    };

    i2c0_sleep: i2c0_sleep {
        group1 {
            psels = <NRF_PSEL(TWIM_SDA, 0, 3)>,
                    <NRF_PSEL(TWIM_SCL, 0, 4)>;
            low-power-enable;
        };
    };
};

/ {
    aliases {
        vsm-enable = &vsm_enable;
        i2c-gpio = &i2c_gpio;
    };

    gpio_outputs {
        compatible = "gpio-leds";

        vsm_enable: vsm_enable {
            gpios = <&gpio0 13 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
            label = "VSM Enable";
        };
    };

    /* GPIO I2C bus for MLX90614 - P0.30 (SDA), P0.31 (SCL) */
    i2c_gpio: i2c-gpio {
        compatible = "gpio-i2c-fast";
        status = "okay";
        clock-frequency = <100000>;
        #address-cells = <1>;
        #size-cells = <0>;
        sda-gpios = <&gpio0 30 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        scl-gpios = <&gpio0 31 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        use-gpio-i2c = <1>;

        mlx90614: mlx90614@5a {
            status = "okay";
            compatible = "melexis,mlx90614";
            reg = <0x5a>;
            emissivity = <65535>;
        };
    };
};
