/ {
	aliases {
		green-led = &green_led;
		red-led = &red_led;
	};

	leds {
		compatible = "gpio-leds";
		green_led: green_led {
			gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;
			label = "Green LED";
		};
		red_led: red_led {
			gpios = <&gpio0 5 GPIO_ACTIVE_HIGH>;
			label = "Red LED";
		};
	};
};

&pinctrl {
	i2c0_default: i2c0_default {
		group1 {
			pinmux = <I2C0_SDA_GPIO22>,
				 <I2C0_SCL_GPIO21>;
			bias-pull-up;
			drive-open-drain;
			output-high;
		};
	};
};

&i2c0 {
	sda-gpios = <&gpio0 22 GPIO_OPEN_DRAIN>;
	scl-gpios = <&gpio0 21 GPIO_OPEN_DRAIN>;

	ina219: ina219@40 {
		compatible = "ti,ina219";
		reg = <0x40>;
		brng = <1>;
		pg = <3>;
		sadc = <13>;
		badc = <13>;
		shunt-milliohm = <100>;
		lsb-microamp = <10>;
	};
};
