# Log level of the stdout logs. 4 = DEBUG, 1 = ERROR
LOG_LEVEL=4

# Path where the service will store its logs
LOG_PATH="/var/log/operator"

# Port where the test serves its API to the operator
TEST_SERVER_PORT=50052

# Port for us to register with the operator of this cluster
OPERATOR_SERVER_PORT=50051