# CoreOps server
COREOPS_SERVER_URL=https://coreops.office.corekinect.cloud:2013
COREOPS_AUTH_SERVER_URL=https://auth.office.corekinect.cloud:2013

# CoreOps credentials (secrets)
COREOPS_API_KEY=
COREOPS_AUTH_USER=
COREOPS_AUTH_PASS=

# Proxy listen port
PORT=8001
