# Log level of the stdout logs. 4 = DEBUG, 1 = ERROR
LOG_LEVEL=4

# Path where the service will store its logs
LOG_PATH=logs

# Port that this app uses to serve its services
SERVER_PORT=50053

# Path to the assets folder
ASSETS_PATH=assets

# FluidNC configuration
FLUIDNC_SERIAL_PORT=/dev/ttyUSB0
FLUIDNC_RESET_PIN=SODIMM_206

# Enable dashboard support
DATA_LOGGER_ENABLED=true
DATA_LOGGER_MQTT_BROKER_URL="mqtt://10.4.45.7:1883"