# development, production
ENVIRONMENT=production

# Log level of the stdout logs. 4 = DEBUG, 1 = ERROR
LOG_LEVEL=4

# Path where the service will store its logs
LOG_PATH=logs

# Path to the assets folder
ASSETS_PATH=assets

# JLink connected to the Orange Pi
MTIB_SERIAL_PORT=/dev/ttyS5
MTIB_SERIAL_BAUD=115200

# Port that this app uses to serve its services
GRPC_SERVER_PORT=50053

# Path where this app will store uploaded firmware files
FW_FILE_STORAGE_DIR=fw_files/

# JLink ports for each microcontroller
MCU_9160_USB_BUS='/dev/bus/usb/002'
MCU_52840_USB_BUS='/dev/bus/usb/003'

# Flag to reset zephyr app at boot
SERVER_RESET_ENABLED=true
SERVER_RESET_GPIO=9

# Pin used to enable second JLink
USB_ENABLE_GPIO=17

# FluidNC configuration
FLUIDNC_SERIAL_PORT=/dev/ttyUSB0
FLUIDNC_RESET_PIN=SODIMM_206
