mkdocs-material==9.7.5
mkdocs-awesome-pages-plugin==2.10.1
mkdocstrings[python]==1.0.3
grpcio==1.76.0
protobuf==6.33.4
requests==2.32.5
minio==7.2.20
pyyaml==6.0.3
python-dotenv==1.2.1
termcolor==3.3.0
sqlalchemy==2.0.48
sshtunnel==0.4.0
paramiko==3.5.1
pytest==9.0.2
pytest-timeout==2.4.0
